
*
{
  margin: 0;
  padding: 0;
}

.background video{
  position: absolute;
  width: 100%;
  height: 100%;

}

html {
  scroll-behavior: smooth;
} 

body{
  width: 100%;
  height: 100%;
}

.background video{
  bottom: 0;
  right: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  backdrop-filter: blur(50px);
  background-color: rgba(52, 16, 16, 0.40);
}


h1{
  padding-top: 100px;
  color: #ffff;
  position: relative;
  text-align: center;
  font-family: NeutralFace;
  font-size: 36px;
  letter-spacing: 5px;
  
}

h2{
  -webkit-text-stroke:1px #A11324 ;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-family: NeutralFace;
  font-size: 55px;
  letter-spacing: 5px;
  margin-bottom: -90px;
  z-index: 2;
}

.circle{
  margin-top: -100px;
  position: relative;
  background-color: #ffff;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: auto;
}

.scrolldown{
  display: flex;
}

.vl{
  margin-top: -98px;
  margin-left: 50px;
  border-left: 3px solid;
  position: relative;
  height: 379px;
  color: #ffff;
}

h3{
  padding-top: 255px;
  margin-left: 10px;
  text-align: left;
  position: relative;
  font-family: NeutralFace;
  font-size: 20px;
  letter-spacing: 5px;
  color: #ffff;
}

a {
  text-decoration: none;
}

.lyrics{
  padding-top: 160px;
  -webkit-text-stroke:0.5px #ffff ;
}

.content p {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 140px;
  position: relative;
  font-family: NeutralFace;
  font-size: 20px;
  letter-spacing: 5px;
  color: #ffff;
  text-align: center;
}

.content button {
  background:none;
  border: solid 3px ;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  position: relative;
  font-family: NeutralFace;
  font-size: 20px;
  letter-spacing: 5px;
  color: #ffff ;
}

.morebtn{
  text-align: center;
}

@font-face{
  font-family:NeutralFace;
  src:url("/fonts/NeutralFace.otf");
}
