
*
{
  margin: 0;
  padding: 0;
}

#preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 200;
}

#preloader-logo{
padding-top: 100px;
 position: relative;
 display: block;
 z-index: 2;
 width: 140px;
 margin-left: auto;
 margin-right: auto;
}

#preloader-title {
  z-index: 2;
  font-size: 25px;
}

.preloader-objects {
  z-index: 2;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-direction: row;
}

.preloader.done {
  animation: loadingDone 1s;
  animation-fill-mode: forwards;
}

.object {
  z-index: 2;
  width: 3px;
  height: 50px;
  background: #fff;
  margin: 0 3px;
  animation: preloader-objects 1.5s infinite;
}

.object:nth-child(2) {
  animation-delay: 0.1s;
}

.object:nth-child(3) {
  animation-delay: 0.2s;
}

.object:nth-child(4) {
  animation-delay: 0.3s;
}

.object:nth-child(5) {
  animation-delay: 0.4s;
}

.object:nth-child(6) {
  animation-delay: 0.5s;
}

.object:nth-child(7) {
  animation-delay: 0.6s;
}

.object:nth-child(8) {
  animation-delay: 0.7s;
}

.object:nth-child(9) {
  animation-delay: 0.9s;
}

@keyframes preloader-objects {
  0% {
    height: 0;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 0;
  }

}

@keyframes loadingDone {
  0% { opacity: 1;}
  70% { opacity: 0;}
  100% { opacity: 0; display: none;}
}

.object:first-child {
  margin-left: 0;
}

.object:last-child {
  margin-right: 0;
}

.background video{
  position: absolute;
  width: 100%;
  height: 100%;

}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
} 

body{
  width: 100%;
  height: 100%;
  transition: opacity 10s ease-in;
}

.background video{
  bottom: 0;
  right: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background-color: rgba(52, 16, 16, 0.40);
}

.logo{
  padding-top: 100px;
 position: relative;
 display: block;
 width: 140px;
 margin-left: auto;
 margin-right: auto;
}

.picture {
  display: none;
}

.socials {
  display: none;
}


h1{
  padding-top: 10px;
  color: #ffff;
  position: relative;
  text-align: center;
  font-family: NeutralFace;
  font-size: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}

h2{
  -webkit-text-stroke:1px #FCD12A ;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-family: NeutralFace;
  font-size: 55px;
  letter-spacing: 5px;
  margin-bottom: -90px;
  z-index: 2;
  text-transform: uppercase;
}

.circle{
  margin-top: -100px;
  position: relative;
  background-color: #ffff;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: auto;
}

.scrolldown {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}

.vl{
  margin-top: 20px;
  margin: auto;
  text-align: center;
  border-left: 2px solid;
  position: relative;
  height: 379px;
  color: #ffff;
}

.vl-footer {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-inline-box;
  height: 279px;
}

.vl-footer-2 {
  margin-left: auto;
  margin-right: auto;
  display: table;
  height: 100px;
  margin-top: 35px;
}

h3{
  padding-top: 30px;
  text-align: center;
  position: relative;
  font-family: NeutralFace;
  font-size: 15px;
  letter-spacing: 5px;
  color: #ffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.lyrics{
  padding-top: 50px;
  -webkit-text-stroke:0.5px #ffff ;
}

.content p {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 140px;
  position: relative;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 8px;
  color: #ffff;
  text-align: center;
}

.whole-verse {
  margin-left: 5%;
  margin-right: 5%;
}

.content button {
  background: none;
  border: none;
  position: relative;
  color: #ffff ;
  font-family: NeutralFace;
  font-size: 15px;
  letter-spacing: 5px;
  color: #ffff ;
  cursor: pointer;
  padding: 28% 10%;
}

#more {
  display: none;
}

.morebtn{
  position: relative;
  text-align: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background:none;
  border: solid 2px #ffff;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffff ;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.socialmedia{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  padding-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-text-stroke:0.5px #ffff ;

}

.icons{
  position: relative;
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
  background-color: rgba(54, 11, 11, 0.3);

}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons2 (viewed 13/04/2022) */
.fa {
  padding: 20px;
  font-size: 25px !important;
  width: 25px;
  text-align: center;
  margin: 3px 6px;
  border-radius: 50%;
}


.fa-instagram{
  background:none;
  border: solid 2px #ffff;
  color: white;

}

.fa-facebook {
  background:none;
  border: solid 2px #ffff;
  color: white;

}

.fa-youtube{
  background:none;
  border: solid 2px #ffff;
  color: white;
}

.cursor {
  display: none;
}

@media(min-width: 1400px) {
  .cursor { /* https://www.youtube.com/watch?v=TpwpAYi-p2w (viewed 15/04/2022) */
    display: block;
    width: 3rem;
    height: 3rem;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    z-index: 9;
    translate: (-50%, -50%);
    pointer-events: none;
  }

  .whole-verse {
    margin-right: 20%;
    margin-left: 20%;
  }

  .logo{
    padding-top: 70px;
    position: fixed;
    z-index: 2;
    width: 150x;
    margin-left: 60px;
    margin-right: auto;
  }

  .picture {
    display: block;
    margin-top: 250px;
    position: fixed;
    z-index: 2;
    width: 150px;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: auto;
  }

  .socials {
    display: block;
    position: fixed;
    z-index: 2;
    margin-left: 60px;
    margin-right: auto;
    padding-top: 430px;
  }

  .one {
    padding-top: 460px;
  }

  .two {
    padding-top: 490px;
  }

  #preloader-logo{
    padding-top: 200px;
    z-index: 2;
    width: 250x;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    padding-top: 70px;
    font-size: 55px;
  }

  h2 {
    font-size: 65px;
  }

  .circle {
    width: 400px;
    height: 400px;
  }

}

@font-face{
  font-family:NeutralFace;
  src:url("NeutralFace.otf") format("opentype");
  font-display: fallback;
}